// stylelint-disable value-keyword-case

// Sizes (divisible by 8)

$size-quarter: 2px;
$size-half: 4px;
$size-1u: 8px;
$size-2u: 16px;
$size-3u: 24px;
$size-4u: 32px;
$size-5u: 40px;
$size-6u: 48px;
$size-7u: 56px;
$size-8u: 64px;
$size-9u: 72px;
$size-10u: 80px;
$size-11u: 88px;
$size-12u: 96px;
$size-15u: 120px;
$size-16u: 128px;
