// stylelint-disable value-keyword-case

// Sizes (divisible by 8)

$size-quarter: 2px;
$size-half: 4px;
$size-1u: 8px;
$size-2u: 16px;
$size-3u: 24px;
$size-4u: 32px;
$size-5u: 40px;
$size-6u: 48px;
$size-7u: 56px;
$size-8u: 64px;
$size-9u: 72px;
$size-10u: 80px;
$size-11u: 88px;
$size-12u: 96px;
$size-15u: 120px;
$size-16u: 128px;

// Font weights

$font-weight-regular: 400;
$font-weight-semibold: 600;

// Font line-height

$line-height-default: 1.4;

// Fonts

$font-default: Garamond, serif;


$font-size-h0: 32px;
$font-size-h1: 24px;
$font-size-h2: 20px;
$font-size-h3: 18px;
$font-size-h4: 16px;
$font-size-h5: 12px;
$font-size-h6: 10px;
$font-size-body: 14px;
