@import "typeface-oxygen";
@import "typeface-roboto";

// Font weights

$font-weight-regular: 400;
$font-weight-bold: 700;

// Font line-height

$line-height-default: 1.4;

// Fonts

$font-heading: 'Oxygen', sans-serif;
$font-default: 'Roboto', sans-serif;

$font-size-h1: 32px;
$font-size-h2: 24px;
$font-size-h3: 20px;
$font-size-h4: 18px;
$font-size-h5: 16px;

$font-size-body: 14px;
