@import "../globals";

body {
  background-color: $color-grey;
  color: $color-black;
  line-height: $line-height-default;
  font-family: $font-default;
  font-size: $font-size-body;
  width: 100%;
}

main {
  margin: $size-1u $size-1u;
  padding: $size-4u;
  box-sizing: border-box;

  background-color: $color-white;
  box-shadow: 2px 2px 4px #888;
  border-radius: 6px;

  @include media-lg {
    max-width: 1200px;
    margin: $size-2u auto;
  }
}
