@import "../globals";

// Headers

h1 {
  font-family: $font-heading;
  font-size: $font-size-h1;
  font-weight: $font-weight-bold;
  margin-bottom: $size-2u;
}

h2 {
  font-family: $font-heading;
  font-size: $font-size-h2;
  font-weight: $font-weight-bold;
  margin-bottom: $size-2u;
}

h3 {
  font-family: $font-heading;
  font-size: $font-size-h3;
  font-weight: $font-weight-bold;
  margin-bottom: $size-1u;
}

h4 {
  font-family: $font-heading;
  font-size: $font-size-h4;
  font-weight: $font-weight-bold;
  margin-bottom: $size-1u;
}

h5 {
  font-family: $font-heading;
  font-size: $font-size-h5;
  font-weight: $font-weight-regular;
  margin-bottom: $size-1u;
}

// Paragraphs

p {
  font-size: $font-size-body;
  font-weight: $font-weight-regular;
  margin-bottom: $size-1u;
}
