@import "../globals";

.c-header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: $size-2u;

  background-color: $color-green;
  color: $color-white;
}

.c-header_logo {
  font-family: $font-heading;
  font-size: 32px;
}
